{% extends "layout.html" %}
{% block body %}
  <h4>Редактирование</h4>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form  class ="add" method=POST enctype=multipart/form-data >
	<p><dl>
	  <dt>Файл:
	  <dd><input type=text disabled value="{{ track[1] }}">
	  <dt>Название:
	  <dd><input type=text name="name" value="{{ request.form['name'] or track[2] }}" required>
	  <dt>Исполнитель:
	  <dd><input type=text name="artist" value="{{ request.form['name'] or track[4] }}">
	  <dt>Альбом:
	  <dd><input type=text name="album" value="{{ request.form['name'] or track[5] }}">
	  <dt>Жанр:
	  <dd><select name="style">
<!--			<option selected disabled>Выберите жанр</option> -->
				{% for st in styles %}
			<option {% if st.id == track[3] %} selected {% endif %} value={{st.id}}>{{ st.name }}</option>
				{% endfor %}
 		 </select> 
      <dt>Описание:
      <dd><textarea  name=about >{{ request.form['name'] or track[6] }}</textarea>
	  <dt><input type="submit" value="Сохранить"></p>
    </dl>
  </form>
  <form action="{{ url_for('delete', n=track[0]) }}" method="post">
    <input class="danger" type="submit" value="Удалить" onclick="return confirm('Уверены?');">
  </form>
{% endblock %}