<!DOCTYPE html>
<html>
   <head>
    <title>Flask Media Player</title>   
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
   <header>
    <div class="container">
     <h1 class="logo">Flask Media Player</h1>
     <strong><nav>
       <ul class="menu">
        <li><a href="{{ url_for('audio') }}">Musics </a></li>
        <li><a href="{{ url_for('video') }}">Videos</a></li>
       </ul>
     </nav></strong>
    </div>
   </header>
   <body>
    <div class="container">
    {% block play %}
    {% endblock %}
    </div> 
  </body>
</html>

